.main-title-green-bold {
  -fx-text-fill: #3b8686;
  -fx-font-weight: bold;
}

.green-title-bold {
  -fx-text-fill: #3b8686;
  -fx-font-weight: bold;
}

.white-text-primary {
  -fx-text-fill: WHITE;
}

.anchor-pane {
  -fx-background-color: #a8dba8;
  -fx-border-color: #3b8686;
  -fx-border-width: 4px;
  -fx-border-style: solid;
}

.hbox {
  -fx-background-color: #a8dba8;
  -fx-border-color: #3b8686;
  -fx-border-width: 4px;
  -fx-border-style: solid;
}

.text-field {
  -fx-background-color: #3b8686;
  -fx-background-radius: 5;
  -fx-padding: 5px;
  -fx-text-fill: WHITE;
}

.text-field:hover {
  -fx-background-color: #3b868695;
}

.button {
  -fx-background-color: #3b8686;
  -fx-background-radius: 5;
  -fx-text-fill: WHITE;
  -fx-padding: 5px 10px;
}

.button:hover {
  -fx-background-color: #3b868695;
  -fx-background-radius: 5;
  -fx-border-color: #3b868695;
  -fx-border-width: 4px;
  -fx-border-radius: 5px;
}

.image-container {
  -fx-background-color: #3b868641;
  -fx-border-color: #3b8686;
  -fx-border-width: 4px;
}
