#custom-table {
    -fx-background-color: #a8dba8;
    -fx-border-color: #3b8686;
    -fx-border-width: 4px;
}
#custom-table .column-header-background {
    -fx-background-color: #3b8686;
}

#custom-table .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Style for the table rows */
#custom-table .table-row-cell {
    -fx-background-color: #a8dba8;
}

/* Style for the table cell text */
#custom-table .table-cell {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
